@model IEnumerable<StudentAttendance.Models.Banner.Enrollment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EnrolledOn.ModuleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentEnrolled.RegistrationID)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EnrolledOn.ModuleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentEnrolled.RegistrationID)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
